<!DOCTYPE html>
<html lang="en-US">
    <head>
        <!--Document Metadata and Information-->
        <meta charset="UTF-8">
        <meta name="keywords" content="Beny Group, Benyco, Benysa, Benypot">
        <meta name="description" content="Professional Lanscape Design & Arthitecture">
        <meta name="subject" content="Beny Group Website">
        <meta name="author" content="Sina Carnelious, Sina Aghighi">
        <meta http-equiv="refresh" content="3600">
        <title>Beny Group | Professional Lanscape Design & Arthitecture</title>
        <!--Cascading Stylesheet Files and Libraries-->
        <link rel="stylesheet" href="lib/stylesheet/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="dist/stylesheet/fonts.css" type="text/css">
        <link rel="stylesheet" href="dist/stylesheet/index.css" type="text/css">
    </head>
    <body>
        <nav>
            <ul>
                <li><a href=".">{{home}}<hr></a></li>
                <li><a href="#about">{{about}}<hr></a></li>
                <li><a href="#contact">{{contact}}<hr></a></li>
            </ul>
            <!--<div>
                <strong>زبان/Language</strong> <br>
                <a href="."><img src="assets/images/flag-iran.svg" alt=""></a>
                <a href="./index.html"><img src="assets/images/flag-uk.webp" alt=""></a>
            </div>-->
        </nav>
        <header id="header">
            <div class="headerFlexbox">
                <div id="headerTextBox">
                    <p>{{welcome}}</p>
                    <h1>{{name}}</h1>
                    <p>{{description}}</p>
                </div>
                <div id="headerItems">
                    <a href="https://benyco.ir" target="_blank">
                        <img class="logo-nrm" src="assets/images/logo-benyco.png">
                        <img class="logo-rev" src="assets/images/logo-benyco-rev.png">
                    </a>
                    <a href="https://benysa.ir" target="_blank">
                        <img class="logo-nrm" src="assets/images/logo-benysa.png">
                        <img class="logo-rev" src="assets/images/logo-benysa-rev.png">
                    </a>
                    <a href="https://benypot.ir" target="_blank">
                        <img class="logo-nrm" src="assets/images/logo-benypot.png">
                        <img class="logo-rev" src="assets/images/logo-benypot-rev.png">
                    </a>
                </div>
            </div>
            <div class="headerButton">
                <a href="#about"><i class="fas fa-angle-double-down"></i></a>
            </div>
        </header>
        <main id="about">
            <h1>{{title}}</h1>
            <p>«گروه بنی» (به لاتین: ‌Beny group) یک گروه فعال در زمینه‌ی کشاورزی و فضای سبز و صنعت ساختمان می‌باشد که به پشتوانه‌ی سال‌ها تجربه‌ی مدیران آن در حوزه‌های مختلف این صنعت، اکنون یکی از بزرگترین و مطرح ترین شرکت‌ها در این زمینه می‌باشد. «گروه بنی» با فعالیت در سه شاخه‌ی اصلی شامل تولید و پرورش و عرضه گیاهان زینتی، مهندسی و اجرای فضاهای سبز ساختمانی و تولید محصولات مرتبط با فضای سبز کاملترین محصولات و خدمات را در این قالب ارائه می‌کند.</p>
            <p>یکی از مجموعه‌های « گروه بنی»، مجموعه «بنیسا» (به لاتین: BENYSA) می‌باشد که با زیر کشت داشتن قریب به ۴۰ هکتار زمین مشغول به تولید انواع محصولات کشاورزی خوراکی و گیاهان زینتی بوده و همچنین با داشتن یکی از بزرگترین مجموعه‌های گلخانه‌ای کشور و تولید انواع گیاهان آپارتمانی موفق به دریافت جوایز و تقدیرنامه‌های مختلفی در سطح منطقه‌ای و کشوری شده است. همچنینن مجموعه «بنیسا» با داشتن قریب به ۳ هکتار نمایشگاه دائمی گیاهان زینتی در استان مازندران واقع در دو سایت نشتارود و رامسر علاوه بر سایت‌های تولیدی، یکی از بزرگترین عرضه کنندگان گیاهان زینتی در کشور می‌باشد.</p>
            <p>از دیگر مجموعه‌های «گروه بنی»، مجموعه «بنیکو» (به لاتین: BENYCO) می‌باشد که به طور تخصصی در حوزه‌ی طراحی، مهندسی و اجرای فضاهای سبز ساختمانی فعالیت می‌نماید. مجموعه «بنیکو» با بهره گیری از دانش روز این حوزه و به پشتوانه تجربیات اجرایی و ساختمانی مدیران این مجموعه یکی از موفق‌ترین و شاخص‌ترین مجموعه‌ها در این زمینه می‌باشد که با قریب به پنجاه پروژه‌ی اجرا شده شامل انواع روف‌گاردن، محوطه سازی و دیوار سبز و همکاری با مجموعه‌های بزرگ و لوکس صنعت ساختمان سازی کشور، آماده ارائه خدمات خاص و ویژه در این حوزه به کاربران و معماران و سازندگان می‌باشد.</p>
            <p>دیگر مجموعه‌ی «گروه بنی»، مجموعه «بنی‌پات» (به لاتین: BENYPOT) می‌باشد که در کنار سایر فعالیت‌های این گروه مشغول به طراحی و ساخت و عرضه محصولات مرتبط با فضای سبز و انواع گلدان‌های خاص و دکوراتیو می‌باشد که تمامی این محصولات با صحیح‌ترین روش‌ها و بهترین متریال طراحی و ساخته می‌شود تا در فضاهای مختلف از جمله فضای داخلی و فضای بیرونی مورد استفاده قرار گیرد. این مجموعه با سفارشی سازی انواع محصولات خود این فرصت را به کاربران، طراحان  و معماران می‌دهد تا محصول مورد نیاز خود را مطابق فضا و طراحی خود شخصی سازی کرده و تهیه نمایند.</p>
        </main>
        <section id="contact">
            <div class="sectionFlexbox">
                <div class="textbox">
                    <h1>{{title}}</h1>
                    <p>{{description}}</p>
                </div>
                <img src="assets/images/barcode.PNG" alt="QR Code : Beny Group" title="این کد را اسکن کنید">
            </div>
            <a href="#header" class="backTop"><i class="fas fa-angle-double-up"></i></a>
        </section>
        <footer>
            <a href="https://framagit.org/beny-group/company-website" target="_blank"><img src="assets/images/license.png" alt=""></a>
            <strong><p>Published with GNU GPL 3.0</p></strong>
            <p>Developed by Beny Group and Sina Carnelious</p>
        </footer>
        <!--This website is Developed by Sina Carnelious-->
        <!--JavaScript Files and Libraries-->
        <script src="lib/javascript/font-awesome.min.js"></script>
        <script src="lib/javascript/vue.global.js"></script>
        <script src="dist/javascript/index.js"></script>
    </body>
</html>