@import 'variables';
@import 'reset';
@import 'mixin';

body {
    direction: ltr;
    background: #000000;
    color: #ffffff;
    font-family: $font-thin;

    nav {
        background: #d9a259;
        color: #000000;
        padding: 1em;
        position: fixed;
        width: 100%;
        top: 0;
        z-index: 999;
        /*display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        align-items: center;*/

        ul {
            display: flex;
            flex-flow: row wrap;
            justify-content: baseline;
            align-items: flex-start;

            li {
                font-family: $font-medium;
                font-size: 18px;
                margin: 0 1em;

                a {
                    @include transition(0.5s ease);

                    hr {
                        @include transition(0.5s ease);
                        @include transform(scale(0, 1));
                        border: 0.5px solid #000000;
                        margin: 0;
                    }

                    &:hover {
                        @include transition(0.5s ease);

                        hr {
                            @include transition(0.5s ease);
                            @include transform(scale(1, 1));
                        }
                    }
                }
            }
        }

        div {
            padding: 1px;
            text-align: center;

            p {
                font-family: $font-medium;
                font-size: 16px;
            }

            img {
                margin: 0 0.25em;
                width: 3em;
            }
        }
    }

    header {
        background: #000000;
        margin-top: 2em;
        padding: 5em 2em 2em 2em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .headerFlexbox {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 4em;

            #headerTextBox {
                color: #d9a259;
                display: flex;
                flex-flow: column wrap;
                justify-content: baseline;
                align-items: flex-start;
                margin-right: 4em;
    
                h1 {
                    font-size: 5em;
                }
    
                p {
                    font-size: 2em;
                    margin: 0;
                }
            }
    
            #headerItems {
                display: flex;
                flex-flow: row wrap;
                justify-content: center;
                align-items: stretch;
                margin-left: 4em;
    
                a {
                    @include transition(0.5s ease);
                    @include transform(scale(1, 1));
                    background: #000000;
                    border: 4px solid #d9a259;
                    border-radius: 0.2em;
                    padding: 1em 0;
                    margin: 0.5em;
                    max-width: 14em;
    
                    .logo-nrm {
                        display: none;
                        width: 100%;
                    }
    
                    .logo-rev {
                        display: block;
                        width: 100%;
                    }
    
                    &:hover {
                        @include transition(0.5s ease);
                        @include transform(scale(1.05, 1.05));
                        background: #d9a259;
                        cursor: pointer;
    
                        .logo-nrm {
                            display: block;
                            width: 100%;
                        }
    
                        .logo-rev {
                            display: none;
                            width: 100%;
                        }
                    }
                }
            }
        }

        .headerButton {
            @include transition(ease 0.5s);
            background: #000000;
            color: #d9a259;
            border: 1px solid #d9a259;
            border-radius: 3em;
            padding: 0.5em;
            text-align: center;
            font-size: 24px;
            opacity: 0.4;

            &:hover {
                @include transition(ease 0.5s);
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    main {
        background: #000000;
        margin-top: 1em;
        padding: 5em 3em;
        display: flex;
        flex-flow: column;
        justify-content: center;
        align-items: center;

        h1 {
            font-size: 3em;
            margin-bottom: 0.5em;
            color: #d9a259;
        }

        p {
            direction: rtl;
            font-size: 1.15em;
            margin: 0.5em 0;
            text-align: justify;
            max-width: 55em;
        }
    }

    section {
        background: #111111;
        padding: 5em 3em 0 3em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        .sectionFlexbox {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            align-items: center;
            margin-bottom: 2em;

            .textbox {
                text-align: left;
                margin-right: 5em;
                width: 30em;

                h1 {
                    font-size: 3em;
                    margin-bottom: 0.5em;
                    color: #d9a259;
                }

                p {
                    font-size: 1.3em;
                    margin: 1em 0;
                }
            }

            img {
                @include transition(0.5s ease);
                @include transform(scale (1, 1));
                max-width: 18em;
                cursor: pointer;

                &:hover {
                    @include transition(0.5s ease);
                    @include transform(scale(1.02, 1.02));
                    box-shadow: 2px 5px 10px #d9a259;
                }
            }
        }

        .backTop {
            @include transition(ease 0.5s);
            background: #000000;
            color: #d9a259;
            border-radius: 3em 3em 0 0;
            padding: 0.5em;
            text-align: center;
            font-size: 24px;
            opacity: 0.4;

            &:hover {
                @include transition(ease 0.5s);
                cursor: pointer;
                opacity: 1;
            }
        }
    }

    footer {
        background: #000000;
        color: #CDCDCD;
        padding: 2em;
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

        img {
            width: 6em;
            margin: 1em 0;
        }

        p {
            font-size: 1em;
        }

        strong {
            font-family: $font-medium !important;
        }
    }
}